//COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #8f193d;
$color-primary-highlight: #ff1d58;
// $color-primary: magenta; 

$color-primary-light: #e35f87;
$color-primary-dark: #8f193d;
$color-grey-dark: #2D2D2D;

// $color-grey: #F4F4F4;
$color-grey: #F7F7F7;

//FONTS
// $font-primary:  Acme, serif;
$font-primary:  'Bree Serif', serif;

//FONT-SIZES





