@import "../../sass/mixins";
@import "../../sass/variables";

.whyMeContainer{
  .qualities{
    display: grid;
    // grid-template-columns: 32% 32% 32%;
    // grid-column-gap: 2%;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;

    .quality{
      margin-top: 5rem;
      h3{
        margin-bottom: .5rem;
        display: inline-block;
        padding-bottom: 3px;
        position: relative;
        @include underline;
      }
      p{
        // text-indent: 20px;
      }
    }
  }
}